<%- include('./partials/head.ejs') %> 

<%- include('./partials/header.ejs') %> 

    <main>
        <span id="span"></span>
    </main>

    
<%- include('./partials/footer.ejs') %> 
<script src="/scripts/script.js"></script>
</body>
</html>

